#modal_add-files_field {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.39);
    align-content: center;
    top: 0;
    left: 0;
    grid-template-rows: 1fr 1fr;
}

#modal_add-files_field[data-show="true"] {
    display: grid;
}

#modal_add-files_field[data-show="false"] {
    display: none;
}

#modal_add-files_block {
    width: 100%;
    text-align: center;
    align-self: center;
}

label[for="addFiles"] {
    font-size: 29px;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    background-color: #c5c5c5;
    width: 81%;
    height: 213px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 5px;
    border-radius: 5px;
    max-width: 950px;
    display: grid;
}

#addFiles_container {
    width: 97%;
    height: 96%;
    justify-self: center;
    align-self: center;
    border: 2px dashed;
    display: grid;
    grid-template-rows: 1fr 0.4fr;
    background-color: white;
}

#addFiles_container #title {
    align-self: end;
    background-color: #d7d7d7;
    width: max-content;
    justify-self: center;
    padding: 10px 58px;
    margin-bottom: 16px;
    border-radius: 5px;
}

#addFiles_container #description {
    font-size: 17px;
}

label[for="addFiles"].drag {
    border: 2px dashed #0400ff;
    padding: 50px;
    background-color: #dfdfdf;
}

#modal_added-files_list {
    justify-self: center;
    margin-top: 20px;
    background-color: white;
    height: max-content;
    padding: 15px;
    border-radius: 5px;
    max-width: 760px;
}

#modal_added-files_list ul {
    list-style: none;
    padding: 0;
}

#modal_added-files_list ul .added_file {
    width: max-content;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    margin-top: 11px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
}
#added-files_field .check-score {
    position: absolute;
    background-color: red;
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    transition: 0.2s;
    min-width: 10px;
}

#added-files_field .check-score.success {
    background-color: #00bf06;
}

#added-files_field .check-score.fail {
    background-color: #ff4d4d;
}

#added-files_field .check-score.middle {
    background-color: #ffd500;
}

#modal_added-files_list .delete_file {
    color: white;
    margin-left: 8px;
    padding-top: 0px;
    display: inline-block;
}

#modal_added-files_list #send-files {
    display: block;
    margin: 0 auto;
}

#check-field_dock .added_file {
    background-color: #00c4ff;
    width: max-content;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-grid;
    grid-template-columns: 1fr 0.1fr;
    margin-left: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}

#check-field_dock .delete_file {
    color: white;
    margin-left: 14px;
}

#check-field_dock .delete_file.info {
    color: black;
    background-color: #dddddd;
    border-radius: 300px;
    padding: 3px 10px;
    line-height: 17px;
}

#added-files_field ul {
    max-width: 870px;
    margin: 38px auto;
    width: 90%;
    background-color: #dfdfdf;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    max-height: 480px;
    padding-right: 31px;
}

#added-files_field ul::-webkit-scrollbar {
    width: 3px;
    height: 50%;
    margin-left: 5px;
    background-color: #efefef;
}

#added-files_field ul::-webkit-scrollbar-thumb {
    width: 3px;
    height: 10px;
    background-color: #dcdcdc;
    border-radius: 300px;
}

#check-documents {
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    background-color: #00c4ff;
    border-radius: 5px;
    font-weight: bold;
    margin-top: -16px;
    cursor: pointer;
}