@import url("notificationStyle.css");
@import url("modalStyle.css");

body {
    font-family: sans-serif;
    height: 98vh;
    width: 99vw;
    display: grid;
    background-color: #efefef;
}

#editor_field {
    width: 90%;
    margin: 10% auto;
    display: grid;
    align-content: center;
    grid-row-gap: 13px;
}

#editor_block {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    height: 400px;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
    outline: none;
}

#menu_block {
    margin: 0 auto;
}

.default_button {
    padding: 10px 18px;
    font-weight: bold;
    font-size: 16px;
    background-color: #0095ff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.default_button:hover {
    background-color: #0065b9;
}

.default_button:active {
    transform: scale(0.97);
}

#addFiles {
    display: none;
}

.icon {
    height: 100%;
}

#select-check_field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 72%;
    justify-self: center;
    max-width: 1000px;
}

#select-check_field div {
    display: grid;
    justify-content: center;
    align-content: center;
}

#select-check_field button {
    height: 145px;
    width: max-content;
    justify-self: center;
    padding: 14px;
    background-color: #e5e5e5;
    border: 1px solid #ffffff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

#select-check_field button:hover {
    border: 1px solid blue;
}

#back {
    font-size: 35px;
    width: max-content;
    background-color: #c5c5c5;
    color: black;
    height: 35px;
    line-height: 24px;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;
}

#back:hover {
    border: 1px solid blue;
}