* {
    font-family: 'Roboto', sans-serif;
}
#OneBlock {
    margin: 10% auto;
    width: max-content;
}

#container {
    width: max-content;
    margin: 0 auto;
}

#block {
    border: 1px solid black;
    height: 500px;
    width: 700px;
    font-size: 16px;
    font-family: sans-serif;
    animation: 5s;
    overflow: auto;
    border-radius: 5px;
    outline: none;
    padding: 10px 20px 10px 20px;
}


.root {
    padding-right: 1px;
}


.container {
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
}
.button {
    outline: none;
    text-align: center;
    border-radius: 5px;
    background: #ffffff;
    border: 2px solid green;
    color: green;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 5px;
    padding: 5px 20px 5px 20px;
}

.button:hover {
    color:white;
    background: green;
}

.button:active {
    letter-spacing: 1px ;
}

.button:after {
    content: element(".button");
}


.nothification {
    position: fixed;
    z-index: 1001;
    right: 400px;
    top: 20px;
    opacity: 0;
    padding: 10px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
    border-radius: 7px;
    transition: all 0.5s ease;
}

.nothification.green {
    background-color: greenyellow;
    color: black;
}

.nothification.red {
    background-color: red;
    color: white;
}

.nothification.showNotification {
    right: 20px;
    opacity: 1;
}

#textNotif{
    font-size: 16px;
}


#blockSpan {
    right: 500px;
    position: absolute;
}

#buttonText {
    right: 500px;
    top: 20px;
    opacity: 0;
    padding: 10px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
    border-radius: 5px;
    cursor: pointer;
}

#buttonText.showText {
    right: 0;
    opacity: 1;
}

#ShowTextBut {
    font-size: 16px;
}