#block {
    border: 1px solid black;
    height: 500px;
    width: 700px;
    font-size: 16px;
    font-family: Arial;
    animation: 5s;
    overflow: auto;
}

#block:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.button {
    margin: 5px;
    padding: 5px;
    animation: 3s;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: lightblue;
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.nothification {
    position: fixed;
    z-index: 1001;
    right: 400px;
    top: 20px;
    opacity: 0;
    width: 130px;
    height: 40px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.4);
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s ease;
    display: flex;
}

.nothification.green {
    background-color: greenyellow;
    color: black;
}

.nothification.red {
    background-color: red;
    color: white;
}

.nothification.go {
    right: 20px;
    opacity: 1;
}

#textNotif{
    background-position: center center;
    font-size: 16px;
    position: center;
}